# התעלם מהכל ברירת מחדל
*

# אל תתעלם מהקבצים האלו (Whitelist)
!.gitignore
!Dashboard_App.py
!guides_db.json
!integrations_db.json
!vercel.json
!requirements.txt
!.vercelignore
!לקוחות/
!מדריכים/
# Ignore contents of uploads
uploads/
# התעלם מתיקיות פנימיות וזבל של מערכת הפעלה
__pycache__/
.DS_Store
Thumbs.db
.vscode/
.venv/
venv/
